<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>LASBOLAS SL</h1>
  <p>
    La empresa se  creo en 2026 y crea APIS para empresas emergentes.
  </p>

  <ion-button
    href="https://github.com/jafaresteban7-collab"
    target="_blank"
    rel="noopener">
    Mi perfil de GitHub
  </ion-button>

  <ion-button routerLink="/inicio" fill="outline">
    Volver a inicio
  </ion-button>
</ion-content>